-var pageTitle = "Home page"
doctype html
html(lang="en")
  head
    include pug/layouts/.meta
    include pug/layouts/.styles
  body
    .page.home 
      include pug/components/.settings-box
      include pug/layouts/.sidebar
      .page__content
        include pug/layouts/.header
        .container-fluid
          .content
            include pug/components/.pageHead

    include pug/layouts/.scripts

